<h2 class="form-title">Imported Data</h2>

<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= raw flash[:alert].gsub("\n", "<br>").html_safe %> <!-- Display error messages with line breaks -->
  </div>
<% end %>

<%= link_to "Back to Home Page", root_path, class: "btn", data: { turbo: false } %>

<% if @materials.any? %>
  <table>
    <thead>
      <tr>
        <th>Material Name</th>
        <th>Standard Unit</th>
        <th>Standard Unit Cost</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      <% @materials.each do |material| %>
        <tr>
          <td><%= material[:material_name] %></td>
          <td><%= material[:standard_unit] %></td>
          <td><%= material[:standard_unit_cost] %></td>
          <td><%= material[:created_at] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No data available to display.</p>
<% end %>
